name: default

on:
  pull_request:
    branches: [ "main" ]

jobs:

  build_test:
    name: build_test
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo
      uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
        cache: 'pip'
    - name: Install dependencies
      run: pip install -e ".[dev]"
    - name: Run tests
      run: pytest
    - name: Test authentication
      env:
        DESPAUTH_USER: ${{ secrets.DESPAUTH_USER }}
        DESPAUTH_PASSWORD: ${{ secrets.DESPAUTH_PASSWORD }}
      run: python -c "from destinepyauth import get_token; get_token('highway')"

  run_pre-commit:
    name: run_pre-commit
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: run pre-commit
        uses: pre-commit/action@v3.0.1

  check_changelog:
    name: check_changelog
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Clone repo
        uses: actions/checkout@v4
      - name: check changelog
        uses: tarides/changelog-check-action@v2
        with:
          changelog: CHANGELOG.md

  get_token:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -e ".[dev]"
